In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import broadcast
from pyspark.sql.functions import col, when

# Initialize a Spark session
spark = SparkSession.builder.appName("TitanicDataset").getOrCreate()
spark = SparkSession.builder.appName("employeesDataset").getOrCreate()

# Load the dataset
data = spark.read.csv("/home/laxmi/awesome-public-datasets/Datasets/titanic.csv", header=True, inferSchema=True)
employee= spark.read.csv("/home/laxmi/awesome-public-datasets/employees.csv", header=True, inferSchema=True)

23/11/09 22:46:55 WARN Utils: Your hostname, DESKTOP-SOJTQQ3 resolves to a loopback address: 127.0.1.1; using 172.18.45.221 instead (on interface eth0)
23/11/09 22:46:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/09 22:46:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/11/09 22:47:00 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
data.show()  
employee.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877| 8.4583| NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|   13.0| NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|  7.225| NULL|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [3]:
# Perform some common operations on the dataset
# 1. Filter passengers with Age > 30
#filtered_data = data.filter(data["Age"] > 30)
#filtered_data.show(5)
Merged_data=data.join(employee)
Merged_data.show()

+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|Fare|Cabin|Embarked|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [4]:
survived_passengers = data.filter(data['Survived'] == 0)

In [5]:
survived_passengers.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0| A/5 21171|   7.25|       NULL|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|    373450|   8.05|       NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|    330877| 8.4583|       NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|     17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|    349909| 21.075|       NULL|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0| A/5. 2151|   8.05|       NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|    347082| 31.275|       NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|    350406| 7.8542|       NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|    382652| 29.125|       NULL|       Q|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|    345763|   18.0|       NULL|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|    239865|   26.0|       NULL|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|    349909| 21.075|       NULL|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|      2631|  7.225|       NULL|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|     19950|  263.0|C23 C25 C27|       S|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|    349216| 7.8958|       NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|  PC 17601|27.7208|       NULL|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|C.A. 24579|   10.5|       NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|  PC 17604|82.1708|       NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|    113789|   52.0|       NULL|       S|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|A./5. 2152|   8.05|       NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-------+-----------+--------+
only showing top 20 rows

In [6]:
data.take(5)

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

In [7]:
selected_data=data.select('PassengerId', 'Name', 'Sex', 'Age') 
selected_data.show()

+-----------+--------------------+------+----+
|PassengerId|                Name|   Sex| Age|
+-----------+--------------------+------+----+
|          1|Braund, Mr. Owen ...|  male|22.0|
|          2|Cumings, Mrs. Joh...|female|38.0|
|          3|Heikkinen, Miss. ...|female|26.0|
|          4|Futrelle, Mrs. Ja...|female|35.0|
|          5|Allen, Mr. Willia...|  male|35.0|
|          6|    Moran, Mr. James|  male|NULL|
|          7|McCarthy, Mr. Tim...|  male|54.0|
|          8|Palsson, Master. ...|  male| 2.0|
|          9|Johnson, Mrs. Osc...|female|27.0|
|         10|Nasser, Mrs. Nich...|female|14.0|
|         11|Sandstrom, Miss. ...|female| 4.0|
|         12|Bonnell, Miss. El...|female|58.0|
|         13|Saundercock, Mr. ...|  male|20.0|
|         14|Andersson, Mr. An...|  male|39.0|
|         15|Vestrom, Miss. Hu...|female|14.0|
|         16|Hewlett, Mrs. (Ma...|female|55.0|
|         17|Rice, Master. Eugene|  male| 2.0|
|         18|Williams, Mr. Cha...|  male|NULL|
|         19|Vander Planke, Mr...|female|31.0|
|         20|Masselmani, Mrs. ...|female|NULL|
+-----------+--------------------+------+----+
only showing top 20 rows

In [8]:
age_group = data.groupBy('Pclass').agg({'Age': 'mean', 'Fare': 'max'})  
age_group.show()

+------+------------------+---------+
|Pclass|          avg(Age)|max(Fare)|
+------+------------------+---------+
|     1|38.233440860215055| 512.3292|
|     3| 25.14061971830986|    69.55|
|     2| 29.87763005780347|     73.5|
+------+------------------+---------+

In [9]:
df1=data.filter(data["Fare"]> 20).select('PassengerId','Name','Sex', 'Age',)  
df1.show()

+-----------+--------------------+------+----+
|PassengerId|                Name|   Sex| Age|
+-----------+--------------------+------+----+
|          2|Cumings, Mrs. Joh...|female|38.0|
|          4|Futrelle, Mrs. Ja...|female|35.0|
|          7|McCarthy, Mr. Tim...|  male|54.0|
|          8|Palsson, Master. ...|  male| 2.0|
|         10|Nasser, Mrs. Nich...|female|14.0|
|         12|Bonnell, Miss. El...|female|58.0|
|         14|Andersson, Mr. An...|  male|39.0|
|         17|Rice, Master. Eugene|  male| 2.0|
|         21|Fynney, Mr. Joseph J|  male|35.0|
|         24|Sloper, Mr. Willi...|  male|28.0|
|         25|Palsson, Miss. To...|female| 8.0|
|         26|Asplund, Mrs. Car...|female|38.0|
|         28|Fortune, Mr. Char...|  male|19.0|
|         31|Uruchurtu, Don. M...|  male|40.0|
|         32|Spencer, Mrs. Wil...|female|NULL|
|         35|Meyer, Mr. Edgar ...|  male|28.0|
|         36|Holverson, Mr. Al...|  male|42.0|
|         42|Turpin, Mrs. Will...|female|27.0|
|         44|Laroche, Miss. Si...|female| 3.0|
|         49| Samaan, Mr. Youssef|  male|NULL|
+-----------+--------------------+------+----+
only showing top 20 rows

In [10]:
sorted_data = data.orderBy('Fare', ascending=False)
sorted_data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|    Fare|          Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
|        259|       1|     1|    Ward, Miss. Anna|female|35.0|    0|    0|PC 17755|512.3292|           NULL|       C|
|        680|       1|     1|Cardeza, Mr. Thom...|  male|36.0|    0|    1|PC 17755|512.3292|    B51 B53 B55|       C|
|        738|       1|     1|Lesurer, Mr. Gust...|  male|35.0|    0|    0|PC 17755|512.3292|           B101|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        342|       1|     1|Fortune, Miss. Al...|female|24.0|    3|    2|   19950|   263.0|    C23 C25 C27|       S|
|        439|       0|     1|   Fortune, Mr. Mark|  male|64.0|    1|    4|   19950|   263.0|    C23 C25 C27|       S|
|        312|       1|     1|Ryerson, Miss. Em...|female|18.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        743|       1|     1|"Ryerson, Miss. S...|female|21.0|    2|    2|PC 17608| 262.375|B57 B59 B63 B66|       C|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|24.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
|        300|       1|     1|Baxter, Mrs. Jame...|female|50.0|    0|    1|PC 17558|247.5208|        B58 B60|       C|
|        381|       1|     1|Bidois, Miss. Ros...|female|42.0|    0|    0|PC 17757| 227.525|           NULL|       C|
|        558|       0|     1| Robbins, Mr. Victor|  male|NULL|    0|    0|PC 17757| 227.525|           NULL|       C|
|        701|       1|     1|Astor, Mrs. John ...|female|18.0|    1|    0|PC 17757| 227.525|        C62 C64|       C|
|        717|       1|     1|Endres, Miss. Car...|female|38.0|    0|    0|PC 17757| 227.525|            C45|       C|
|        528|       0|     1|  Farthing, Mr. John|  male|NULL|    0|    0|PC 17483|221.7792|            C95|       S|
|        378|       0|     1|Widener, Mr. Harr...|  male|27.0|    0|    2|  113503|   211.5|            C82|       C|
|        690|       1|     1|Madill, Miss. Geo...|female|15.0|    0|    1|   24160|211.3375|             B5|       S|
|        731|       1|     1|Allen, Miss. Elis...|female|29.0|    0|    0|   24160|211.3375|             B5|       S|
|        780|       1|     1|Robert, Mrs. Edwa...|female|43.0|    0|    1|   24160|211.3375|             B3|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+--------+---------------+--------+
only showing top 20 rows

In [11]:
df2=data.select('Age',)
df2.show()

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
|35.0|
|35.0|
|NULL|
|54.0|
| 2.0|
|27.0|
|14.0|
| 4.0|
|58.0|
|20.0|
|39.0|
|14.0|
|55.0|
| 2.0|
|NULL|
|31.0|
|NULL|
+----+
only showing top 20 rows

In [12]:
merged_data=df1.join(df2, 'Age', 'inner')
merged_data.show()

+----+-----------+--------------------+------+
| Age|PassengerId|                Name|   Sex|
+----+-----------+--------------------+------+
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|38.0|          2|Cumings, Mrs. Joh...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
|35.0|          4|Futrelle, Mrs. Ja...|female|
+----+-----------+--------------------+------+
only showing top 20 rows

In [13]:
cleaned_data = merged_data.drop('Sex')
cleaned_data.show()

+----+-----------+--------------------+
| Age|PassengerId|                Name|
+----+-----------+--------------------+
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|38.0|          2|Cumings, Mrs. Joh...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
|35.0|          4|Futrelle, Mrs. Ja...|
+----+-----------+--------------------+
only showing top 20 rows

In [14]:
total_passengers = data.count()
print("No.of rows in this table is:", total_passengers)

No.of rows in this table is: 891

In [15]:
Edited_data= cleaned_data.drop('Name') 
Edited_data.show()

+----+-----------+
| Age|PassengerId|
+----+-----------+
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|38.0|          2|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
|35.0|          4|
+----+-----------+
only showing top 20 rows

In [16]:
selected_data.write.mode("overwrite").csv("/home/laxmi/practice")

In [17]:
#New_data= spark.read.csv("/home/laxmi/practice/part-00000-39926742-0583-4394-9e43-d7d5eed148e9-c000.csv")
#New_data.show()

In [18]:
#Total=New_data.count() 
#print("Total no. of rows is : ", Total)

In [19]:
Description_data= df1.describe(['Name', 'Age'])

In [20]:
Description_data.show()

+-------+--------------------+------------------+
|summary|                Name|               Age|
+-------+--------------------+------------------+
|  count|                 376|               323|
|   mean|                NULL|31.740712074303406|
| stddev|                NULL|16.674316354468363|
|    min|"Angle, Mrs. Will...|              0.83|
|    max|del Carlo, Mr. Se...|              80.0|
+-------+--------------------+------------------+

In [21]:
Together_data= df1.union(New_data) 
Together_data.show()

NameError: name 'New_data' is not defined

In [ ]:
distinct_df = employee.distinct()
distinct_df.show()

In [ ]:
data = [("John", 25), ("Alice", 30), ("Bob", 25), ("Alice", 30)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

In [ ]:
distinct_df=df.distinct()
distinct_df.show()

In [ ]:
#count_passengers=employee.groupBy("SALARY").count() 
#filtered_count_passengers= count_passengers.distinct() 
#filtered_count_passengers.show()
filtered_data=employee.filter(employee["salary"]==2600)
filtered_data.show()

In [ ]:
Row_data=filtered_data.groupBy("SALARY").count()
Row_data.show()

In [ ]:
#Interview Questions practice
rdd=distinct_df.rdd 
rdd.collect()

In [ ]:
Renamed_data= filtered_data.withColumnRenamed("Email", "Email_id")    # How to rename a column in the DF
Renamed_data.show()

In [ ]:
#New_renamed= filtered_data.alias("Salary","Pay")

In [ ]:
Renamed_data.cache() # How to cache the Data Frame

In [ ]:
if Renamed_data.is_cached:                     # How to check whether the DF is Cached or not 
    print("DF is cached")
else:
    print("DF is not cached")

In [ ]:
Agg_df=filtered_data.agg({"salary":"sum"})     # 15. How do you perform aggregation operations (e.g., sum, average) on a DataFrame?
Agg_df.show()

In [ ]:
sex= data.groupBy("sex") 
sum_fare=sex.agg({"fare":"sum"}) 
sum_fare.show()

In [ ]:
sum_fare.persist()

In [ ]:
if sum_fare.is_cached: 
    print(" Your df is cached") 
else:
    print(" Sorry !!, DF is'nt cached")

In [ ]:
# 16.Describe different types of joins available in PySpark, and when would you use each?

lucky_df =distinct_df.select("Employee_Id", "First_Name", "Last_Name", "salary") 
lucky_df.show()

In [ ]:
join_df=lucky_df.join(distinct_df,"salary","leftsemi")
join_df.show()

In [ ]:
#18. What is the purpose of broadcast joins in PySpark?
broadcast_df=distinct_df.join(broadcast(lucky_df),"Employee_Id","leftanti")
broadcast_df.show()

In [ ]:
#19.Explain the process of reading data from multiple sources and integrating it in PySpark.
#Perfect explaination in ChatGPT----> Check it.

In [ ]:
#22. How do you save a PySpark DataFrame to a Parquet file?
join_df.write.parquet("home/laxmi/lucky.parquet")

In [ ]:
import os

# Specify the path to the output folder
output_folder = "home/laxmi"

# Check if the output folder exists
if os.path.exists(output_folder):
    # List the files and directories in the output folder
    files_in_output = os.listdir(output_folder)

    # Check if there are Parquet files in the output folder
    parquet_files = [file for file in files_in_output if file.endswith(".parquet")]

    if parquet_files:
        print("DataFrame successfully written to Parquet files.")
        print(f"Parquet files found: {parquet_files}")
    else:
        print("No Parquet files found in the output folder.")
else:
    print(f"The specified output folder '{output_folder}' does not exist.")

In [ ]:
join_df.show()

In [ ]:
parquet=spark.read.parquet("home/laxmi/lucky.parquet", header=True, inferSchema=True) 
parquet.show()

In [23]:
python_df=spark.read.csv("/home/laxmi/development/laxmi_env/kanth.py", header=True, inferSchema=True) 
python_df.show()

+--------------+
|print('lamxi')|
+--------------+
|           a=1|
|           b=2|
|         c=a+b|
|      print(c)|
+--------------+

In [26]:
text_df=spark.read.csv("/home/laxmi/untitled.txt", header=True, inferSchema=True) 
text_df.show()

++
||
++
++